<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
    

    <nav id="navbar">

        <div class="container">
            <div id="navbar-brand">
                <h1>AnilWeather</h1>
            </div>
            <div class="navbar-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/weather">Weather</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>

    </nav>




    <section id="sectionWelcome">
        <div class="img-container">
            <img src="/images/pic2.png" alt="">
        </div>
        <div class="text-container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <h1>About Us</h1>
            <button class="btn">About Me</button>
        </div>
    </section>




    <footer>
        <div class="container">
            <h1>Created for spreading happiness</h1>
        </div>
    </footer>



</body>
</html>