
    <nav id="navbar">

        <div class="container">
            <div id="navbar-brand">
                <h1>AnilWeather</h1>
            </div>
            <div class="navbar-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/weather">Weather</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>

    </nav>
